@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Recursive&display=swap");
:root{
    --font-color:white;
}

html{
cursor: pointer;
}
* {
  padding: 0px;
  margin: 0px;
}

h1 {
  color:var(--font-color)
}

body {
  background-color: black;
  transition: background-color infinite ease;
}


#intro {
  margin-top: 50%;
  padding-bottom: 25%;
 
 
}



a {
  text-decoration: none;
  color:var(--font-color)
}
.greeting {
  color: var(--font-color);
  text-shadow:#318CE7 2px 0 15px;
  font-family: "Recursive", "Playfair Display", "Dancing Script", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 10px;
}

.fade {
  opacity: 0;
  font-family: "Recusive", "Playfair Display", "Dancing Script", sans-serif;
  font-size: 80px;
  animation:  fadeIn 6s;
  position: absolute;
  animation-timing-function: ease-in-out;
}

.fade:nth-child(1) {
  animation-name: fadeInこんにちは;
  animation-delay: 0s;
}

.fade:nth-child(2) {
  animation-name: fadeIn안녕하세요;
  animation-delay: 3.5s;
}

.fade:nth-child(3) {
  animation-name: fadeInΓειάσας;
  animation-delay: 7s;
}
.fade:nth-child(4) {
  animation-name: fadeInHello;
  animation-delay: 10.5s;
}

.fade:nth-child(5) {
  animation-name: fadeInBonjour;
  animation-delay: 14s;
}

.fade:nth-child(6) {
  animation-name: fadeInHola;
  animation-delay: 17.5s;
}

@keyframes fadeInこんにちは {
  0%,
  20% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn안녕하세요 {
  0%,
  20%,
  80%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

@keyframes fadeInΓειάσας {
  0%,
  20%,
  80%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

@keyframes fadeInHello {
  0%,
  20%,
  80%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}
@keyframes fadeInBonjour {
  0%,
  20%,
  80%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

@keyframes fadeInHola {
  0%,
  20%,
  80%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

/**style the button, change the opacity to 0, add a hover affect and then make it 
reappear when the words are gone, allow for access to the next page 
next page will mostlikely be the full portflio*/
.Click {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -120px;
  color:var(--font-color);
  font-family:"Recursive", sans-serif;
  text-shadow:#318CE7 2px 0 15px;

}

#intro{
    color: var(--font-color);
    display:flex;
    flex-direction: column;
    gap: 30px;
    font-family: "Recusive",sans-serif;
    padding-left:50px;
  
}
.intro-img{
    position: relative;
}

.image{
    right:0;
    position:absolute;
   top: -300px;
   padding:30px;
   
}
.Learn{
    border-radius: 10px;
    padding:10px;
    width: 100px;
}


li{
    list-style:none;
    text-shadow:#318CE7 2px 0 15px;
    font-family: "Recursive", sans-serif;
}

a{
    text-decoration: none;
    color:var(--font-color);
    font-size:1rem;
}
/**Add hover affect that makes the buttons look a little bigger **/
a:hover{

}


/* Header */
header{
    position: relative;
    padding:0 2rem;

}

.navbar{
    width:100%;
    height:60px;
    max-width:1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar,.logo,a{
    font-size:1rem;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap:2rem;

}

#logo{
    padding: top 5px;
    padding-right:40px;
    
}



.about {
    margin-top: 15%;
    padding-bottom: 15%;
    font-family:"Playfair Display", sans-serif ;
  }
  .title-ab{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
  }

  .about-para{
    font-family:"Playfair Display", sans-serif ;
    color:var(--font-color);
    display:flex;
    align-items: center;
    justify-content: center;
  }
.aboutimg{
    width: 500px;
    height: 500px;
    border-radius: 80%;
    background-image: url(/img/hat.JPG);
    background-size: cover;
}
.aboutimg::after {
    content: "";
    position: absolute;
    width: 140px;
    border: 10px solid #000000;
    border-radius: 50%;
  }

  .about>p{
    color:var(--font-color);
    font-family:"Playfair Display", sans-serif ;
    padding:10px;
  }



  #intro>p{
    font-size:26px;
  }
  #intro>h1{
    font-size:60px ;
    font-family:"Playfair Display", sans-serif ;
  }

  /*Size of the Icons*/
  i{
    font-size: 40px;
  }

.skills-Projects{
    margin-top: 20%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
}

.project1,.project2{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
color:var(--font-color)
}

.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.contact{
    color:var(--font-color);
    margin-top: 20%;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
.bottom-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}


.contact-me{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap:10px;
}